* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

header, footer {
    background-color: #444;
    text-align: center;
    margin: 0;
    padding: 25px;
}

h1 {
    color: #dd7253;
    margin: 0;
}

header p {
    color: #999;
}

main {
    width: 80%;
    margin: 40px auto;
}

section {
    padding: 15px;
    padding-bottom: 40px;
    background-color: #fff;
    margin-bottom: 30px;
}

.box {
    background-color: #f1b442;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    padding: 1.5rem;
    margin-bottom: 3rem;
    font-size: 18px;
    transition: all 1s;
}

.box:hover {
    cursor: pointer;
}

.translate:hover {
    transform-origin: 50% 50%;
    transform: translateX(15rem);
}

.scale:hover {
    transform-origin: 50% 50%;
    transform: scale(0.5);
}

.rotate:hover {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

.skew:hover {
    transform-origin: 50% 50%;
    transform: skewX(45deg);
}

.multi:hover {
    transform-origin: 50% 50%;
    transform: rotate(45deg) scale(0.5) translateX(10rem);
}

.transition:hover {
    background-color: aqua;
    transform: scale(1.5);
}

@keyframes animation {
    from {
        transform: scale(0) rotate(720deg);
    }
    to {
        transform: scale(1) rotate(0);
        background-color: #3cf;
    }
}

.animation {
    animation: animation 2s both;
}

footer p {
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #dd7253;
}
